
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 310px;
    justify-content: flex-start;
    gap: 0px;
}

.pokeball-bg-div-left {
    /* border: 5px outset red; */
    /* margin: auto; */
    background: url(../assets/pokeball-bg.png) repeat 0 0;
    /* background-color: #cccccc; */
    height: 150px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    
}

.inside-pokeball {
    top: 22%;
    left: 3%;
    height: 50%;
    width: 50%;
    position: relative;
    margin: auto;
}